body{
    margin: 0;
    padding: 0;
}    

a {
    text-decoration: none;
}

.box{
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: table;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 500ms;
    background-color: black;
}

.back-blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transition: 500ms;
}

.box0{
    background-image: url('../images/timeline/TreeHacks.png');
}
.box1{
    background-image: url('../images/timeline/UofT.jpg');
}
.box2{
    background-image: url('../images/timeline/hackPrinceton.jpg');
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color:white;
    margin: 0px;
    text-align: center;
}

.text {
  color: white;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 60%;   
  border-radius: 10px;
  max-width: 750px;
}

.parallax-container{
    position: relative;
}

.with-side-nav{
    margin-left: 17vw;
    transition: margin-left .3s;
}

.no-side-nav{
    margin-left: 0;
    transition: margin-left .3s;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.terminalBtn {
    position: relative;
    background: none;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px;
    border-style: dashed; 
    border-width: 2px;
    text-align: center;
    cursor: pointer;
}

.terminalBtn:hover {
    background-color: rgba(255,255,255, 0.6); 
    color: black;
    border-color: white;
    font-weight: 600;
}

.timeLinePageContainer{
    width: 100vw;
    height: 100vh;
    background-color: black;
}



@media only screen and (max-width: 1200px) {
    .terminalBtn{
        padding: 5px;
        font-size: 16px;
    }

}




/* medium devices */
@media only screen and (max-width: 992px) {

}

/* small devices */

@media only screen and (max-width: 768px) {
    .text{
        width: 80%;
    }
    .terminalBtn{
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 0px;
        font-size: 12px;
    }
    .with-side-nav{
        margin-left: 10vw;
    }
} 

