
.bar {
    width: 100%;
    position: relative;
    height: 25px;
    background-color: #DAD9D9;
    margin: 0 auto;
    font-family: monospace;
    padding: auto;
    float: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tCircles{
    border-radius: 100%;
    width: 15px;
    height: 15px;
    position:relative;
    margin: 4px 8px;
}
.red {
    background-color: #E98074;
}
.yellow {
    background-color: #d8c3a5;
}
.green {
    background-color: #8e8d8a;
}
.screen {
    background-color: rgba(0,0,0, 0.6); 
    width: 750px;
    height: 450px;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    margin: 0 auto;
    padding: 1px;
    width: 99.8%;
    position: relative;
}
.font {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: left;
    position: relative;
    padding: 20px 40px;
    list-style-image: url('../images/other/inputIcon.png');
    margin-left: -15px;
}

.font li{
        margin: 8px 0px;
    }
/* buttons are in parallax.css */


@media only screen and (max-width: 1200px) {
    .tCircles{
        width: 13px;
        height: 13px;
        margin: 6px 6px;
    }
    .text h1{
        font-size: 30px;
    }
    .font{
        font-size: 16px;
    }
    .font li{
        margin: 8px 0px;
    }
}

/* medium devices */
@media only screen and (max-width: 992px) {
    .font{
        font-size: 14px;
        padding: 10px 30px;
    }
    .font h1{
        font-size: 23px;
    }
    .font li{
        margin: 8px 0px;
    }
    
} 

/* small devices */
@media only screen and (max-width: 768px) {
    .font{
        font-size: 14px;
        padding: 8px 10px;
    }
    .font li{
        margin: 0px 0px;
    }
} 