.tlDividerScreen {
    background-color: rgba(0,0,0, 0.6); 
    width: 80%;
    height: 600px;
    border-radius: 2%;
    margin: 0 auto;
    margin-top: -15%;
    padding: 1px;
    width: 99.8%;
    position: relative;
}

.tlDividerScreen li {
    font-weight: 600;
}

.tlDividerScreen ul p {
    font-weight: 500;
}