.tlNav{
    position: fixed;
    z-index: 2;
}

.tlNavListContainer {
    margin-top: 100px;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    height: 100vh;
    display: block;
}

.listNoDisplay{
    margin-left:-50vw;
    transition: margin-left 0.3s ;
}
.listDisplay{
    margin-left: 0%;
    transition: margin-left 0.3s ;
}

.tlNavItems {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-bottom: 50px;
    position: relative;
    display: block;
    width: 60%;
    margin-left: 20%;
    font-size: 16px;
}

.tlNavItems:hover{
    color: #aaaaaa;
    cursor: pointer;
}

.tlNavIcon:hover{
    filter: invert(0%)
}

.tlNavListContainer ul li {
    color: black;
    list-style-type: none;
}

/* ul li:before {
    color: white;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
} */

.tlNavClosedContent{
    width: 0%;
    transition: width 0.3s;
}

.tlNavOpenContent{
    background-color:  rgba(0,0,0, 0.95); 
    position: fixed;
    width: 18%;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    top: 0px;
    left: 0px;
    transition: width 0.3s;
}

.tlNavClosedBgFix {
    background-color:  rgba(0,0,0, 0.95); 
    position: fixed;
    width: 0%;
    height: 100%;
    transition: width 0.3s ;
}

.tlNavOpenBgFix{
    background-color:  rgba(0,0,0, 0.95); 
    position: fixed;
    width: 18%;
    height: 100%;
    transition: width 0.3s;
}

/* Navbar Open/Close Icon */

.tlNavIcon{
    width : 40px;
    height: 40px;
    
    background-repeat: no-repeat;
    position: relative;
    filter: invert(100%);
}
.tlNavClosed{
    background-image: url("../images/other/tlNavOpen.svg");
}


.tlNavOpen{
    background-image: url("../images/other/tlNavClose.svg");
    margin-left: 3px;
}


.tlNavClosedContainer{
    margin: 3vh 5vw;
    padding: 5px;
    padding-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: rgba(0,0,0, 0.6); 
    display: flex;
    justify-content: center;

    position: fixed;
    transition: margin-left 0.3s ;
}

.tlNavClosedContainer:hover {
    background-color: rgba(255,255,255, 0.6); 
    color: black;
    border-color: white;
    font-weight: 600;
    cursor: pointer;
}

.tlNavOpenContainer{
    margin: 3vh 12vw;
    padding: 5px;
    padding-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: rgba(0,0,0, 0.6); 
    display: flex;
    justify-content: right;
    z-index: 3;
    position: fixed;
    transition: margin-left 0.3s ;
}

.tlNavOpenContainer:hover {
    background-color: rgba(255,255,255, 0.6); 
    color: black;
    border-color: white;
    font-weight: 600;
    cursor: pointer;
}

/* time LINE */
.tLineOpen {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    margin: 0;
    margin-left: 20%;
    border-radius: 5%;
    transition: margin-left 0.7s ;
}

.tLineClosed {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    margin: 0;
    margin-left: -200px;
    border-radius: 5%;
}


.tLineCircContainer{
    margin-top: 105px;
    margin-left: -5px;
}
.tLineCircle{
    border-radius: 100%;
    width: 13px;
    height: 13px;
    position:relative;
    margin-bottom: 50px;
    background-color: rgb(121, 162, 201); 
}


@media only screen and (max-width: 1200px) {
    .tlNavItems {
        font-size: 14px;
    }
}
@media only screen and (max-width: 992px) {
    .tlNavOpenContent{
        width: 30%;
    }
    .tlNavOpenBgFix{
        width: 30%;
    }
    .tlNavOpenContainer{
        margin-left: 20%;
    }
    .tlNavOpenContainer{
        width: 30px;
        height: 30px;
        padding-top: 1px;
        padding-left: 3px;
        padding-right: 5px;
        padding-bottom: 7px;
    }
}

@media only screen and (max-width: 768px) {

    .tlNavOpenContent{
        width: 50%;
    }
    .tlNavOpenBgFix{
        width: 50%;
    }
    .tlNavOpenContainer{
        margin-left: 35%;
    }
}