body{
    margin: 0;
    padding: 0;
}    
#box1{
            height: 100vh;
            width: 100%;
            background-image: url(./images/TreeHacks.png);
            background-size: cover;
            display: table;
            background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
        }
        #box2{
            height: 100vh;
            width: 100%;
            background-image: url(./images/UofT.jpg);
            background-size: cover;
            display: table;
            background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
        }
        #box3{
            height: 100vh;
            width: 100%;
            background-image: url(./images/fpgaTrumpet.jpg);
            background-size: cover;
            display: table;
            background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
        }
        h1{
            font-family: arial black;
            font-size: 50px;
            color:white;
            margin: 0px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }